[ContrastEffect]
contrast=0.2
enabled=true
intensity=2.0
saturation=1.7

[Desktop Entry]
X-KDE-PluginInfo-Author=Mathis Paquet
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=mathispaquet362@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Daemon 2.0
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/MathisP75/daemon-kde-mk2
X-Plasma-API=5.0
